<section id="dashboard">
  <div class="row">
    <div class="col-sm-4 searchDash">
  <md-autocomplete class='md-primary md-hue-1' md-selected-item="selectedDb" md-search-text='searchText' md-selected-item-change='update()' md-item-text='dashboard.name' md-items="dashboard in dashboardList" md-select-on-match='true' md-require-match='true' md-match-case-insensitive='true'>
    <md-item-template>
      <span md-highlight-text='searchText'>{{dashboard.name}}</span>
    </md-item-template>
     <md-not-found>
          No matches found for "{{searchText}}".
    </md-not-found>
  </md-autocomplete>

     </div>
    <div class="col-md-4 text-center">
        <h3 class='user-header'>{{dashboard.name}}</h3>
        <h4 class='account-text'>{{ dashDesc }}</h4>
    </div>
  </div>

  <section id="gridbox">
      <label>
          <h3>Layout Controls: </h3>
      </label>
      <md-button
          ng-class='{ editlocked: !editable}'
          class='btn  sml-right-space'
          ng-disabled='dashboardList.length < 1'
          ng-click='toggleEditable()'>
          Editing {{editable ? "enabled" : "disabled"}}</md-button>

      <div class='text-left'>
        <md-button ng-disabled="!editable" ng-class='{ editlocked: !editable}'class="md-raised md-primary md-hue-3" ng-click='saveLayout(); showToast1()'> Save! </md-button>
        <md-button ng-disabled="!editable" ng-class='{ editlocked: !editable}'class="md-raised
        md-primary md-hue-3" ng-click=addNewGraph()>Add View</md-button>
        <md-button ng-disabled="!editable" ng-class='{ editlocked: !editable}'class="md-raised md-warn md-hue-2" ng-click=clear()>Clear All Widgets</md-button>
      </div>

      <div gridster="gridsterOptions" class='ng-scope gridster-desktop gridster-loaded dark-bg'>
      <div class='hundred'>
      <ul class="with-3d-shadow with-transitions">
        <li gridster-item="widget" ng-repeat="widget in dashboard.charts">
          <div class="box ng-scope" ng-controller='WidgetCtrl'>
              <div class="box-header">
                  <h3>{{ widget.name }}</h3>
                  <div class="box-header-btns pull-right">
                     <a ng-click='editable && updateData(widget)'><i class="glyphicon glyphicon-ok"></i></a>
                     <a ng-click='editable && openSettings(widget)'><i class="glyphicon glyphicon-cog"></i></a>
                     <a ng-click="editable && remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>

                  </div>
              </div>
              <div class="box-content">
                <nvd3 options="widget.chart.options"
                      data="widget.chart.data"
                      api="widget.chart.api"
                      config="config"
                      events="events"></nvd3>
              </div>
          </div>
        </li>
      </ul>
    </div>
    <div>
    </div>
  </section>
</section>

