<section id="home">

    <button ng-click=saveLayout()> Save! </button>
    <button ng-click=addWidget()>Add Widget</button>
    <button ng-click=clear()>Clear All Widgets</button>
    <div gridster="gridsterOptions" class='ng-scope gridster-desktop gridster-loaded'>
    <ul class="with-3d-shadow with-transitions">
      <li gridster-item="widget" ng-repeat="widget in dashboard.charts">
        <div class="box ng-scope" ng-controller='WidgetCtrl'>
            <div class="box-header">
                <h3>{{ widget.name }}</h3>
                <div class="box-header-btns pull-right">
                   <a ng-click='openSettings(widget)'><i class="glyphicon glyphicon-cog"></i></a>
                   <a ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
                </div>
            </div>
            <div class="box-content">
              <nvd3 options="widget.chart.options"
                    data="widget.chart.data"
                    api="widget.chart.api"
                    config="config"
                    events="events"></nvd3>
            </div>
        </div>
      </li>
    </ul>
  </div>
</section>
