.fd-panel {
  width: 90%;
  margin: 0 auto;
  padding: 1% 1%;
  border: 1px black solid;
}

.editlocked {
    background-color: grey;
}
.editunlocked {
    background-color: #9DFB9D;
}

.dashnav {
    float:left;
    margin: 15px 0 0 0;
    border: 1px black solid
}
.button-space {
    margin: 10px;
}
.big-right-space {
    margin-right: 20%;
}
.sml-right-space {
    margin-right: 10%;
}

.db-drop-menu {
  font-size: 150%;
  font-weight: bold;
  background-color: inherit;
  margin-top: 20px;
}