.fd-panel {
  width: 90%;
  margin: 0 auto;
  padding: 1% 1%;
  border: 1px black solid;
}

/*.editlocked {
    background-color: #d3d3d3;
}*/
.editunlocked {
    background-color: #9DFB9D;
}

.button-space {
    margin: 10px;
}
.big-right-space {
    margin-right: 25%;
}
.sml-right-space {
    margin-right: 16.8%;
}

.db-drop-menu {
  font-size: 150%;
  font-weight: bold;
  background-color: inherit;
  margin-top: 20px;
  max-width:100%;
}
