<div>
  <div class="header">
    <h1>Welcome {{user.firstName}} to your account page</h1>
  </div>
  <div class="container">
  <div class='row'>
    <table class='col-md-4'>
      <th>Here are your current dashboard</th>
      <tr ng-repeat='dashboard in allDashBoards'>
        <td>{{dashboard.name}}</td>
        <td><button class="btn btn-success" ng-click='updateDashboard(id, data)'>Edit</button></td>
        <td><button class="btn btn-danger" ng-click='deleteDashboard(id, dashboard.id)'>Delete</button></td>
      </tr>
      <tr>
        <td><button class="btn btn-primary" ng-click='addDashboard(id, content)'>Create New Dashboard</button></td>
      </tr>
    </table>
    <table class="col-md-4">
      <th>Your Account Information</th>
      <tr>
        <td>First name: {{user.firstName}}</td>
      </tr>
      <tr>
        <td>Last name: {{user.lastName}}</td>
      </tr>
      <tr>
        <td>Email Address: {{user.email}}</td>
      </tr>
    </table>


   </div>
 </div>





</div>





<!-- <div>
<p>We are here in the user page</p>
<button ng-click='update(id, data)'>Update User Route</button>
<button ng-click='delete(id)'>Delete User Route</button>
