<nav class="navbar navbar-static-top ">
    <div class="container dashnav">
        <div>
        <select ng-options="dashboard as dashboard.name for dashboard in dashboards " ng-model="selectedDb" ng-change="update()" class="db-drop-menu big-right-space"></select>
        </div>
        
        <label>
            <h3>Layout Controls: </h3>
        </label>

        <button
        ng-class='{ editlocked: !editable, editunlocked: editable}'
        class='btn editlocked button-space sml-right-space'
        ng-disabled='dashboards.length < 1'
        ng-click='toggleEdit()'>
        Editing {{editable ? "enabled" : "disabled"}}</button>
        <button  ng-disabled='!editable' class='btn btn-primary button-space'>Add Graph</button>
        <button  ng-disabled='!editable' class='btn btn-success button-space'>Save Layout</button>
    </div>
</nav>



